.configPanel {
  position: absolute;
  right: 0;
  top: 50px;
  width: 400px;
  height: calc(100vh - 50px);
  background: #fff;

  :global {
    .ant-collapse-content-box,
    .ant-collapse-header {
      padding: 12px !important;
    }

    .ant-collapse-header,
    .ant-collapse {
      border-radius: 0 !important;
    }

    .ant-collapse {
      border: none !important;
    }

    .ant-form-item-required {
      width: 100% !important;

      &::after {
        margin: 0 !important;
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    padding: 0 12px;
  }

  .coverLabel {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .tip {
    font-size: 12px;
    color: rgb(153, 153, 153);
  }

  .label {
    color: rgb(153, 153, 153);
    font-size: 13px;
  }

  .customContainer {
    .customContent {
      background: #f6f7f9;
      border-radius: 6px;
      padding: 12px;
      margin-top: 8px;
    }

    .customItem {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}
