.configPanel {
  position: absolute;
  right: 0;
  top: 50px;
  width: 450px;
  height: calc(100vh - 50px);
  background: #fff;

  :global {
    .ant-collapse-content-box,
    .ant-collapse-header {
      padding: 12px !important;
    }

    .ant-collapse-header,
    .ant-collapse {
      border-radius: 0 !important;
    }

    .ant-collapse {
      border: none !important;
    }

    .ant-form-item-required {
      width: 100% !important;

      &::after {
        margin: 0 !important;
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
    padding: 0 12px;
  }

  .coverLabel {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .tip {
    font-size: 12px;
    color: rgb(153, 153, 153);
  }

  .label {
    flex-shrink: 0;
    color: rgb(153, 153, 153);
    font-size: 13px;
  }

  .customContainer {
    .customContent {
      background: #f6f7f9;
      border-radius: 6px;
      padding: 12px;
      margin-top: 8px;
    }

    .customItem {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  .uploadContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .formItemRight {
    position: absolute;
    left: 320px;
  }

  .flexRowStart {
    display: flex;
    align-items: flex-start;
  }

  .flexRowBetweenWithGap {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

  .flexColumnStart {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .flexRowBetweenCenter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .minMarginBottom {
    margin-bottom: 10px;

    :global {
      .ant-input-number-group-addon {
        font-size: 12px !important;
        padding: 0 6px !important;
      }
    }
  }

  .formItemLabel {
    display: flex;
    align-items: center;
    gap: 4px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    margin-bottom: 8px;
  }

  .addonAfter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid #d9d9d9;
    color: rgba(0, 0, 0, 0.88);
    padding: 0 6px;
    color: rgba(0, 0, 0, 0.88);
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    border-radius: 0 6px 6px 0;
    margin-left: -1px;
  }
}
